<style>
  .footer {
    max-width: var(--container-max-size);
    padding: var(--space-7) var(--container-padding-sides);
    margin: var(--space-6) auto auto auto;
  }
  .footer a {
    text-decoration: none;
    color: var(--color-link);
  }
  .footer a:hover {
    color: var(--color-primary);
    /* transition: color 0.2s ease-in-out; */
  }
  .footer-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--space-6);
    row-gap: var(--space-2);
    flex-wrap: wrap;
  }
  .link-home {
    font-weight: bold;
    color: var(--color-primary);
    font-size: var(--font-size-lg);
  }
  
  .br {
  margin: var(--space-2) 0 var(--space-2) 0;
  border: .1px solid var(--color-background-shade);
  color: var(--color-link);
  }
</style>

<footer class="footer">
<hr class="br">
  <nav>
    <ul class="footer-links">
      <li><a href="https://social.lol/@jasonm" target="_blank">{% include 'img/social-mastodon.svg' %} </a></li>
      <li><a href="https://github.com/reddmo" target="_blank" rel="me">{% include 'img/social-github.svg' %} </a></li>
      <li><a href="https://bsky.app/profile/jasonmoser.bsky.social" target="_blank">{% include 'img/social-bluesky.svg' %} </a></li>     
      <li><a href="/feed.xml">{% include 'img/rss.svg' %} </a></li>
      <li><a href="#top" aria-label="Back to top"><svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
 <path d="M16 12L12 8M12 8L8 12M12 8V16M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
 </svg></a>
      <li>{% include "dark-toggler.liquid" %}</li>
    
    </ul><br>
    <center><a href="https://ko-fi.com/andycarolan/shop?action=gallery" aria-label="Andy Carolan's Ko-Fi" target="_blank">{% include 'img/CoffeePowered_05.svg' %} {% include 'img/IAmNotARobot_06.svg' %}</a></center>
  </nav>
</footer>
