<style>
  .navbar {
    font-family: "Inclusive Sans";
    font-weight: 900;
    width: auto;
    padding: var(--space-3) var(--container-padding-sides);
    margin: 0 auto;
    display: flex;
    position: relative;
    background-color: var(--color-background-shade);
  }
  
  .navbar nav {
    flex: 3;
  }
    
  .navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-5);
    flex-wrap: wrap;
    text-transform: lowercase;
    font-size: var(--font-size-base);
    text-wrap: pretty;
  }
  
  .navbar-links > *:nth-child(2) {
    margin-left: auto;
  }

  .link-home {
    font-size: var(--font-size-xl);
    text-transform: lowercase;
  }
  
  .button {
    background-color: transparent;
    display: inline-block;
    place-items: center;
    align-items: center;
    font: inherit;
    padding: 0.1rem var(--space-1);
    text-decoration: none !important;
    text-align: center;
  }

  
/* all buttons have a min size */
  .button:where(:not(:has(svg))) {
    text-align: center;
    min-inline-size: 6ch;
  }
   
 @media (max-width: 850px) {
    .navbar-links > *:nth-child(1) {
      width: 100%;
    }
    .navbar-links > *:nth-child(2) {
      margin-left: unset;
    }
    .link-home {
      text-align: center;
    }
  } 
  
  .centered {
  margin-top: -5px;
  margin-left: 4px;
  position: absolute;
  }
</style>

<a id="top" name="top"></a>
<header class="navbar">
  <nav>
    <ul class="navbar-links">
     <li class="link-home">
    <h1><svg height="76" width="330" xmlns="http://www.w3.org/2000/svg">
    <text x="4" y="48" alignment-baseline="middle" font-family="var(--font-family)" fill="var(--color-link)" font-size="53" stroke="var(--color-text)" stroke-width="2px">stuff<tspan alignment-baseline="middle" stroke="none" fill="var(--color-head)">&</tspan><tspan alignment-baseline="middle" fill="var(--color-primary)" stroke="var(--color-text)" stroke-width="2px">things</tspan></text>
	</svg></h1></li>
      <li><a href="/" aria-label="Back to home page">home</a></li>
      <li><a href="/articles" aria-label="Blog articles">blog</a></li>
      <li><a href="/about" aria-label="About me page">about</a></li>
      <li><a href="/now" aria-label="The Now Page">now</a></li>
      <li><a href="/blogroll" aria-label="The blogroll">roll</a></li>
      <li><a href="/tag" aria-label="All of the post tags">tags</a></li>
    </ul>  
  </nav>
</header>
