<style>
  .navbar {
    width: auto;
    padding: var(--space-3) var(--container-padding-sides);
    margin: 0 auto;
    display: flex;
	top: 0; 
    position: static;
    background: 
    linear-gradient(135deg,
    var(--color-link),
    var(--color-link) 3%,
    var(--color-primary) 3%,
    var(--color-primary) 6%,
    var(--color-head) 6%,
    var(--color-head) 9%,
    var(--color-background) 9%,
    var(--color-background) 91%,
    var(--color-head) 91%,
    var(--color-head) 94%,
    var(--color-primary) 94%,
    var(--color-primary) 97%,
    var(--color-link) 97%);
  }
  
  .navbar nav {
    flex: 3;
  }
  
  .navbar a {
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: none !important;
  } 
  
  .navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);
    flex-wrap: wrap;
  }
  
  .link-home {
    list-style: none;
    text-align: center;
    font-weight: bold;
    font-size: var(--font-size-xl);
    background-size: auto;
    background-repeat: repeat;
    background-clip: text;
    filter: drop-shadow(0px 4px 2px var(--slate-12));
  }
  
  .button {
    background-color: transparent;
    display: inline-block;
    place-items: center;
    align-items: center;
    font: inherit;
    padding: 0.1rem var(--space-1);
    text-decoration: none !important;
    text-align: center;
  }

  .menu {
    background-color: var(--color-background);
    border: 1px solid var(--color-background);
    color: var(--color-link);
    font-size: var(--font-size-xs);
    min-width: 8ch;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    text-transform: none;
    box-shadow: 0px 4px 7px 0px var(--slate-10);
    padding: 0.1rem var(--space-1);
    text-align: center;
  }

  .menu:hover,
  active {
    color: var(--color-background);
    background-color: var(--color-link-hover);
    border: 1px solid var(--color-link-hover);
  } 



  
/* all buttons have a min size */
  .button:where(:not(:has(svg))) {
    text-align: center;
    min-inline-size: 6ch;
  }
   
/* @media (max-width: 1250px) {
    .navbar-links > *:nth-child(1) {
      width: 100%;
    }
    .navbar-links > *:nth-child(2) {
      margin-left: unset;
    }
  } */
  
  .centered {
  margin-top: -5px;
  margin-left: 4px;
  position: absolute;
  }

</style>
<a id="top" name="top"></a>
<header class="navbar">
  <nav>
    <div class="link-home">
    <h1><svg height="76" width="350" xmlns="http://www.w3.org/2000/svg">
    <text x="4" y="42" alignment-baseline="middle" fill="var(--color-link)" font-size="55">stuff<tspan alignment-baseline="middle" stroke="none" fill="var(--color-head)">&</tspan>things</text>
	</svg></h1></div>
    <div class="navbar-links">
      <a href="/" aria-label="Back to home page" class="menu">home</a>
      <a href="/articles" aria-label="Blog articles" class="menu">blog</a>
      <a href="/about" aria-label="About me page" class="menu">about</a>
      <a href="/now" aria-label="My Now page" class="menu">now</a>
      <a href="/blogroll" aria-label="The blogroll" class="menu">roll</a>
      <a href="/tag" aria-label="All of the post tags" class="menu">tags</a>
    </div>  
  </nav>
</header>
