{% include "css/nav.liquid" %}
<a id="top" name="top"></a>
<header class="navbar">
  <nav>
    <div class="link-home">
    <h1><svg height="76" width="350" xmlns="http://www.w3.org/2000/svg">
    <text x="4" y="42" alignment-baseline="middle" fill="var(--color-link)" font-size="55">stuff<tspan alignment-baseline="middle" stroke="none" fill="var(--color-primary)">&</tspan><tspan alignment-baseline="middle" stroke="none" fill="var(--color-head)">things</text>
	</svg></h1></div>
    <div class="navbar-links">
      <a href="/" aria-label="Back to home page" class="menu">home</a>
      <a href="/articles" aria-label="Blog articles" class="menu">blog</a>
      <a href="/about" aria-label="About me page" class="menu">about</a>
      <a href="/now" aria-label="The Now Page" class="menu">now</a>
      <a href="/blogroll" aria-label="The blogroll" class="menu">roll</a>
      <a href="/tag" aria-label="All of the post tags" class="menu">tags</a>
    </div>  
  </nav>
</header>
