/* Blogroll */
main :first-child {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.blogroll a {
	text-decoration-color: var(--text-color-link);
	text-decoration-thickness: .130em;
	text-decoration-style: solid;
	text-underline-offset: .08rem;
}

.blogpost a {
	text-decoration-color: var(--text-color-link);
	text-decoration-thickness: .130em;
	text-underline-offset: .08rem;
	color: var(--text-color);
	line-height: 1.75;
}

.blogroll:hover {
	text-decoration-color: var(--text-color-link-active);
	text-decoration-thickness: .130em;
	text-decoration-style: solid;
	text-underline-offset: .16rem;
}

.blogpost:hover {
	color: var(--text-color);
	text-decoration-color: var(--text-color-link-active);
	text-underline-offset: .16rem;
}

.blogroll-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
    padding: 0;
}

.blog-card {
    padding: 1rem;
    background: var(--background-color);
	border: .350rem solid var(--text-color-link-active);
	border-radius: 4px;
    box-shadow: 8px 8px var(--text-color-link);
}