/* Defaults */
@font-face {
	font-family: "Departure";
	font-style: normal;
	font-weight: 400;
	src: url("assets/fonts/DepartureMono-Regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	font-style: normal;
	font-weight: 400;
	src: url("assets/fonts/AtkinsonHyperlegibleNext-Regular.woff2") format("woff2");
	font-display: swap;
}

:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: light-dark(#e0e0e0,#e0e0e0);
	--color-gray-50: light-dark(#C0C0C0,#C0C0C0);
	--color-gray-90: light-dark(#333,#dad8d8);

	--color-note: light-dark(#247e81,#9daaf2);
	--color-tip: light-dark(#b30d0d,#ff6a3d);
	--color-warning: light-dark(#9a6700,#d29922);
	--color-severe: light-dark(#bc4c00,#db6d28);
	--color-caution: light-dark(#d1242f,#f85149);
	--color-important: light-dark(#8250df,#a371f7);

	--background-color: light-dark(#fefefe,#090200);
    --text-color: light-dark(#212829,#f2f6f7);
    --text-color-link: light-dark(#e31c3d,#50d0ee);
    --text-color-link-active: light-dark(#4e2e92,#f7ca18);
    --text-color-link-visited: light-dark(#007b96,rgba(246,36,89));
    --border-color: light-dark(#d81c23,#f4db7d);
    --code-background-color: light-dark(#f2f2f2,#030404);
    --code-color: light-dark(#222,#ddd);
    --heading: light-dark(#e31c3d,#f7ca18);
    --heading-shadow: light-dark(#4e2e92,rgba(246,36,89));
    --header-bottom: var(--color-gray-50);
  
    /* Button - maintained for contrast */
    --button-text: light-dark(#ffffff, #ffffff);

	--syntax-tab-size: 2;

	--font-size-xs: clamp(0.8681rem, 0.8639rem + 0.0208vw, 0.88rem);
    --font-size-s: clamp(1.0417rem, 1.0214rem + 0.1014vw, 1.1rem);
    --font-size-base: clamp(1.25rem, 1.2065rem + 0.2174vw, 1.375rem);
    --font-size-md: clamp(1.5rem, 1.4239rem + 0.3804vw, 1.7188rem);
    --font-size-lg: clamp(1.8rem, 1.6788rem + 0.606vw, 2.1484rem);
    --font-size-xl: clamp(2.16rem, 1.9772rem + 0.914vw, 2.6855rem);
    --font-size-xxl: clamp(2.592rem, 2.3259rem + 1.3303vw, 3.3569rem);
    --font-size-max: clamp(3.1104rem, 2.7327rem + 1.8883vw, 4.1962rem);

	--space-1: 0.35rem;
	--space-2: 0.5rem;
	--space-3: 1rem;
	--space-4: 1.5rem;
	--space-5: 2rem;
	--space-6: 2.5rem;
	--space-7: 3rem;
	--space-8: 4rem;
	--space-9: 5rem;
	--space-10: 6rem;
	--gutter: var(--space-3);
}

/* Global stylesheet */
* {
	box-sizing: content-box;
}

@view-transition {
	navigation: auto;
}

heading-anchors:not(:defined) :is(h2,h3,h4,h5,h6):after {
	content: "#";
	padding: 0 .25em;
	opacity: 0;
}

html {
	color-scheme: light dark;
	/* border: .300em solid;
	border-image-slice: 1;
	border-width: .175em;
	border-image-source: linear-gradient(var(--text-color-link-active),var(--text-color-link),var(--text-color-link-visited)); */
}

html,
body {
	padding: 0;
	margin: 0 auto;
	color: var(--text-color); 
	background-color: var(--background-color);
	text-wrap: pretty;
}
html {
	overflow-y: scroll;
	font-family: 'Atkinson Hyperlegible';
}
body {
	max-width: 70em;
	font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family);
}

h1 {
	color: var(--heading);
	font-size: var(--font-size-xl);
	font-weight: 900;
	text-shadow: 3px 3px var(--heading-shadow);
}

h2 {
	font-size: var(--font-size-md);
	color: var(--text-color-link);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

img,
picture {
	height: auto;
	max-width: 100%;
	/* display: block; */
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
}

.svg {
	margin-top: 0;
	margin-bottom: 0;
	align-content: center;
	display: block;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.75;
}

p.caption {
	text-align: center;
	font-size: var(--font-size-xs);
}

li {
	line-height: 2.0;
}

a[href] {
	color: var(--text-color); 
	position: relative;
	text-decoration-color: var(--text-color-link);
	text-decoration-thickness: .175em;
	text-decoration-style: solid;
	text-underline-offset: .10rem;
}
a[href]:visited {
	color: var(--text-color); 
	text-decoration-color: var(--text-color-link-visited);
	text-decoration-thickness: .175em;
	text-decoration-style: solid;
	text-underline-offset: .10rem;
}
a[href]:hover,
a[href]:active {
	color: var(--text-color);
	text-decoration-color: var(--text-color-link-active);
	text-decoration-thickness: .175em;
	text-decoration-style: solid;
	text-underline-offset: .16rem;
}

blockquote {
	padding: 0 1em;
	color: var(--color-gray-90);
	border-left: 0.25em solid var(--text-color-link-active);
}

button {
	display: inline-block;
	background: linear-gradient(var(--background-color),var(--background-color)) padding-box,
				linear-gradient(45deg, var(--text-color-link-visited),var(--text-color-link-active)) border-box !important;
	color: var(--text-color);
	padding: 5px;
	border: 3px solid transparent;
	border-radius: 12px;
	place-items: center;
	font-size: inherit;
	font-family: var(--font-family);
	font-weight: 900;
	line-height: 1.25em;
	cursor: pointer;
}

button a {
	text-decoration: none !important;
}

button:hover,
button:focus {
	background: linear-gradient(var(--text-color),var(--text-color)) padding-box,
				linear-gradient(45deg, var(--text-color-link-active),var(--text-color-link-visited)) border-box !important;
	color: var(--background-color) !important;
}

main,
footer {
	padding: 1.25rem;
}
main :first-child {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
} 

/* header {
	border-bottom: .175em solid var(--header-bottom);
} */
header:after {
	content: "";
	display: table;
	clear: both;
}
.links-nextprev {
	font-family: var(--font-family);
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	padding: 1em 0;
}
.links-nextprev {
	border-top: .175em solid var(--header-bottom);
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: 'Departure';
}
pre {
	background-color: #090200 !important;
	font-family: 'Departure' !important;
	border: .500em solid;
	border-image-slice: 1;
	border-width: .250em;
	border-image-source: linear-gradient(var(--text-color-link-active),var(--text-color-link),var(--text-color-link-visited));
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
	background-color: var(--code-background-color);
	color: var(--border-color);
	border-radius: 12px;
	padding: .225em;
}

/* Header */
header {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	/* flex-wrap: wrap; */
	align-items: center;
	padding: .750rem;
}

.card {
    background: var(--text-color-link);
    color: var(--text-color);
    text-wrap: balance;
    margin: var(--space-2);
    padding: var(--space-3);
    max-inline-size: auto;
    border: 3px solid var(--text-color-link-active);
    border-radius: 6px;
}

.code-icon {
    display: inline-flex;
    vertical-align: middle;
}

.code-icon.svg-baseline svg {
    top: .125em;
    position: relative;
}
  
.new {
    background: var(--text-color-link);
    color: var(--text-color);
    text-wrap: balance;
    margin: var(--space-2);
    padding: var(--space-3);
    max-inline-size: auto;
    border: 3px dotted var(-text-color-link-active);
    border-radius: 6px;
}
.home-link {
	color: var(--text-color-link-visited) !important;
	font-family: var(--font-family);
	font-size: var(--font-size-xxl); /* 16px /16 */
	font-weight: 900;
	text-shadow: 3px 3px var(--text-color);
	margin: 0;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}
.home-link:link:hover {
	text-decoration: none;
}

.footnotes {
	border-top: 2px solid var(--text-color-link-visited) !important;
}

/* Nav */
.nav {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem;
	justify-content: center;
	list-style: none;
	border-bottom: .175em solid var(--header-bottom);
	padding: 0.5rem 0 0.5rem;
	margin: 0 0 1rem;
}
	
.nav-item {
	margin: 6px;
	font-weight: 400;
	font-size: var(--font-size-s);
}
	
.nav-item a[href]:not(:hover) {
		color: var(--text-color) !important; 
		text-decoration-color: var(--text-color-link);
		text-decoration-thickness: .175em;
		text-decoration-style: solid;
		text-underline-offset: .10rem;
}
	
.nav-item a[href][aria-current="page"] {
		color: var(--text-color-link-active) !important; 
		text-decoration-thickness: .175em;
		text-decoration-style: solid;
		text-underline-offset: .16rem;
		font-weight: 900;
}
	
.nav-toggle {
	display: none;
}
	
	@media (max-width: 640px) {
	  header {
	  position: relative;
	  flex-direction: row;
	  justify-content: space-between;
	  align-items: center;
	  padding-bottom: 1.75rem;
	  }
	
	  .home-link {
		margin-right: 0;
		margin-top: 1rem;
	  }
	
	  .nav {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		transform: translateY(-100%);
		transition: transform 0.3s ease-in-out;
		background: var(--background-color);
		padding: 1rem;
		z-index: 1000;
		flex-direction: column;
		align-items: flex-start;
	  }
	
	  .nav.open {
		transform: translateY(0);
	  }
	
	  .nav-toggle {
		display: inline-block;
		position: absolute;
		top: 2.5rem;
		right: 1rem;
		z-index: 1100;
	  }
	}

/* .nav {
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: wrap;
}

.nav-item {
	display: inline-block;
	margin: 6px;
	font-weight: 400;
}

.nav-item a[href]:not(:hover) {
	color: var(--text-color) !important; 
	text-decoration-color: var(--text-color-link);
	text-decoration-thickness: .175em;
	text-decoration-style: solid;
	text-underline-offset: .10rem;
}

.nav-item a[href][aria-current="page"] {
	color: var(--text-color-link-active) !important; 
	text-decoration-thickness: .175em;
	text-decoration-style: solid;
	text-underline-offset: .16rem;
	font-weight: 900;
} */

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 0;
}

.postlist :first-child {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.postlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
    gap: 1.5rem;
    padding: 0;
}

.postlist-card {
    padding: 1rem;
    background: var(--background-color);
	text-wrap: pretty;
	border: .225rem solid var(--heading-shadow);
	border-radius: 4px;
    /* box-shadow: 1px 1px var(--background-color), 8px 8px var(--heading); */
}
.postlist-card:hover {
	border: .225rem solid var(--heading);
	/* box-shadow: 1px 1px var(--background-color), 8px 8px var(--heading-shadow); */
}
.postlist-item {
	align-items: baseline;
	counter-increment: start-from -1;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero);
	line-height: 100%;
	text-align: right;
	margin-left: 0;
}
.postlist-date,
.postlist-item:before {
	font-size: var(--font-size-xs); /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-description {
	font-size: var(--font-size-s); /* 13px /16 */
	color: var(--text-color);
}
.postlist-date {
	padding-left: 0;
}
.postlist-link {
	font-size: var(--font-size-md); /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0.10rem;
	text-decoration-thickness: .175em;
	text-wrap: pretty;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-decoration-color: var(--text-color-link);
	text-decoration-thickness: .175em;
	text-decoration-style: solid;
	text-underline-offset: .10rem;
}

.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

.footer {
	font-family: var(--font-family);
	justify-content: center;
}

.footer-links {
	list-style: none;
	display: flex;
	color: var(--text-color-link);
	justify-content: center;
	gap: 1.5rem;
	padding-left: 0;
}