.mastodon {
    list-style: none;
	padding: 0;
	padding-left: 0;
}
.mastodon :first-child {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.mastodon-item {
    margin-bottom: 0.65em;
}
.mastodon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
    padding: 0;
    width: 100%;
}
.pagination {
    margin-top: 2rem;
    margin-bottom: 2rem;
} 
.pagination :first-child {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}   
.pagination-list {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    gap: 0.25rem;
}   
.pagination-item {
    margin: 0 0.25rem;
    font-size: var(--font-size-xs);
} 
.pagination-item a {
    display: inline-block;
    background: linear-gradient(var(--background-color), var(--background-color)) padding-box,
                linear-gradient(45deg, var(--text-color-link-visited), var(--text-color-link-active)) border-box !important;
    color: var(--text-color);
    padding: 0.5rem 0.5rem;
    border: 3px solid transparent;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.25em;
}   
.pagination-item a:hover:not(.disabled),
.pagination-item a:focus:not(.disabled) {
    background: linear-gradient(var(--text-color), var(--text-color)) padding-box,
                linear-gradient(45deg, var(--text-color-link-active), var(--text-color-link-visited)) border-box !important;
    color: var(--background-color) !important;
}   
.pagination-current span {
    display: inline-block;
    background: linear-gradient(var(--text-color-link), var(--text-color-link)) padding-box,
                linear-gradient(45deg, var(--text-color-link-active), var(--text-color-link-visited)) border-box !important;
    color: var(--background-color);
    padding: 0.5rem 0.5rem;
    border: 3px solid transparent;
    font-weight: 900;
    line-height: 1.25em;
}   
.pagination-item a.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background: linear-gradient(var(--background-color), var(--background-color)) padding-box,
                linear-gradient(45deg, var(--color-gray-50), var(--color-gray-50)) border-box !important;
    color: var(--color-gray-50);
}
/* Post content styling */
.post-date {
    font-size: var(--font-size-xs);
    color: var(--color-gray-90);
    margin-bottom: 0.5rem;
}
.post-content {
    font-size: var(--font-size-s);
    line-height: 1.6;
    margin-bottom: 1em;
    overflow-wrap: break-word;
    word-break: break-word;
}
.post-content a {
    color: var(--text-color-link);
}
.post-content p {
    margin-bottom: 0.65em;
}
.post-media {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.post-media img {
    max-width: 100%;
    height: auto;
}
.post-meta {
    display: flex;
    gap: 1rem;
    font-size: var(--font-size-xs);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.175rem dashed var(--border-color);
}
.post-meta a {
    margin-left: auto;
}
/* Make emoji look nice */
.post-meta span {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.social-icon {
    display: inline-flex;
    vertical-align: middle;
    color: var(--border-color);
}
.social-icon.svg-baseline svg {
    top: .125em;
    position: relative;
}