---
eleventyNavigation:
  key: Blogroll
  order: 6
---
{%- css %}{% include "public/css/blogroll.css" %}{% endcss %}
<h1>Blogroll</h1>
<br>
<div class="blogroll-grid">
{% for blog in blogData %}
    <div class="blog-card">
        <h2>
            <img alt="none" src="{{ blog.favicon }}"><br>
            <a href="{{ blog.url | url }}" target="_blank" class="blogroll">
                {{ blog.name }}
            </a>
        </h2><br>


        {% if blog.latestPost and blog.latestPost.title %}
            <span style="color: var(--text-color-link-active)">
                <b>Latest post:</b>
            </span>
            <a href="{{ blog.latestPost.url | url }}" target="_blank" class="blogpost">
                {{ blog.latestPost.title }}
            </a>
        {% endif %}
    </div>
{% endfor %}
</div>
