---
eleventyNavigation:
  key: Blogroll
  order: 6
---
<h1>Blogroll</h1>
<br>
<div class="blogroll">
{% for blog in blogData %}
    <div>
        <h2>
            <a href="{{ blog.url | url }}" target="_blank" class="blogroll">
                {{ blog.name }}
            </a>
        </h2>


        {% if blog.latestPost and blog.latestPost.title %}
            <div class="blogpost-title">
                Latest post:
            </div>
            <div class="blogpost">
            <a href="{{ blog.latestPost.url | url }}" target="_blank">
                {{ blog.latestPost.title }}
            </a>
            </div>
        {% endif %}
    </div>
{% endfor %}
</div>
