---
eleventyNavigation:
  key: Blogroll
  order: 6
---
<h1>Blogroll</h1>
<ol class="blogroll">
    {% for blog in blogData %}
        <li class="blogroll-item{% if blog.url == url %} blogroll-item-active{% endif %}">
            <a href="{{ blog.url | url }}" class="blogroll-link" aria-label="{{ blog.name }}">{{ blog.name }}</a><br>
            <a href="{{ blog.latestPost.url | url }}" target="_blank" class="blogroll-description" aria-label="{{ blog.latestPost.title }}">{% if blog.latestPost and blog.latestPost.title %}{{ blog.latestPost.title }}{% else %}<code>{{ blog.latestPost.url }}</code>{% endif %}</a>
        </li>
    {% endfor %}
    </ol>