---
layout: layouts/default.liquid
---

<header class="post-header">
  <h1 class="posts">{{ title }}</h1>
</header>

<section class="post-container">
  {{ content }}
</section>

{% include "css/pages.liquid" %}
