---
layout: layouts/default.liquid
---

<div class="main-sections">
  <section>
    <h1 class="posts" style="color: var(--color-text)">Latest</h1><br class="br">
    {% assign posts = collections.posts %}
    {% assign count = 1 %}
    {% include "postlist.liquid" %}
  </section>
<hr class="hr">
  <section>
    <h1 class="posts" style="color: var(--color-text)">More posts</h1><br>
    {% assign posts = collections.posts %}
    {% assign count = 4 %}
    {% assign offset = 1 %}
    {% include "postlist.liquid" %}
    <br>
    <a class="articles-link" href="/articles">All the articles</a>
  </section>
<hr class="hr">  
    {% assign tagList = collections | postTags %} {% if tagList.length > 0 %}
  <section>
    <h1 class="posts" style="color: var(--color-text)">Tags</h1><br>
 <div class="card">   {%- for tag in tagList -%}
    <a href="/tags/{{ tag.name }}">{{ tag.name }} ({{ tag.count }})</a>{% if
    forloop.last != true %}<span> | </span>{% endif %} {%- endfor -%}</div>
  </section>
  {% endif %}
</div>

<style>
  .main-sections {
    display: flex;
    flex-direction: column;
    gap: var(--space-7);
    margin-bottom: var(--space-3);
  }
  .articles-link {
    display: block;
    margin-top: var(--space-2);
    text-decoration: underline solid .1em var(--color-link);
  }
  
  .br {
  	line-height: 45px;
  }
</style>
