---
layout: layouts/default.liquid
---

<div class="main-section"> 
    {% assign tagList = collections | postTags %} {% if tagList.length > 0 %}
  <section>
    <h1 class="posts" style="color: var(--color-text)">Tags</h1><br>
 <div>   {%- for tag in tagList -%}
    <a href="/tags/{{ tag.name }}" class="articles-link menu">{{ tag.name }} ({{ tag.count }})</a>{% if
    forloop.last != true %}<span>   </span>{% endif %} {%- endfor -%}</div>
  </section>
  {% endif %}
</div>

<style>
  .main-section {
    display: grid;
    gap: var(--space-7);
    margin-bottom: var(--space-3);
  }
  .articles-link {
    margin: var(--space-1);
    text-decoration: none;
  }
  .br {
  	line-height: 45px;
  }
</style>
